<div>
  <a [routerLink]="['/home']">back</a>
  <form [formGroup]="searchform" (ngSubmit)="search()" *ngIf="isShow">
    <label>Search By Email</label>
    <input type="text" class="fortextbox" name="name" placeholder="email" formControlName="email">
    <button [disabled]="!searchform.valid">Search</button>
  </form>
  <p></p>
  <form [formGroup]="formdata" (ngSubmit)="submit()">
    <label>Name:</label>
    <input type="text" class="fortextbox" name="name" placeholder="name" formControlName="name">
    <br />
    <label>Email:</label>
    <input type="text" class="fortextbox" name="email" placeholder="email" formControlName="email">
    <br />
    <label>Roles:</label>
    <label formArrayName="roles" *ngFor="let role of formdata.controls.roles.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{roles[i].name}}
    </label>
    <br>
    <button>submit</button>
  </form>
</div>
