<h2>Here are some links to test: </h2>
<ul>
  <li>
    <h2><a rel="noopener" [routerLink]="['/users']">Show Users</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" [routerLink]="['/user', {'status': 'add'}]">Add User</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" [routerLink]="['/user',  {'status': 'update'}]">Update User</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" [routerLink]="['/user',  {'status': 'delete'}]">Delete User</a></h2>
  </li>
</ul>
